/* Place your css here */
.navbar-nav .nav-item .nav-link.sf-link {
    text-decoration: none ;
}
    .navbar-nav .nav-item .nav-link.sf-link:hover {
        text-decoration: none;
        font-weight: bold;
    }
.navigation-widget .nav .nav-item .nav-link.sf-link:hover {
    text-decoration: none;
    font-weight: bold;
}

.footer-nav{
    background-color: #111;
    padding: 1.5rem;
}
.list-item{
    margin-bottom: 15px;
}
.list-bg {
    background-color: #f6f7ff;
    border-radius: 20px;
    padding:60px 40px 60px 40px;
}
.left-sided-image-card {
    padding: 60px 40px 60px 40px;
}

.rounded-section {
    background-color: #f6f7ff;
    border-radius: 20px
}

.button-link{
    text-decoration: none;
    background-color: red;
    border-radius: 50px;
}
.button-link:hover {
    text-decoration: none !important;
}