/* Place your css here */
.navbar-nav .nav-item .nav-link.sf-link {
    text-decoration: none ;
}
    .navbar-nav .nav-item .nav-link.sf-link:hover {
        text-decoration: none;
        font-weight: bold;
    }

.footer-nav{
    background-color: #111;
    padding: 1.5rem;
}


.footer-nav__title {
    color: #fff;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-nav__list {
    margin-bottom: 0.5rem;
}

.footer-nav .nav .nav-item .nav-link.footer-nav__link {
    color: #d1d1d1 !important;
    padding: 0;
    font-size: 0.95rem;
    text-decoration: none !important;
}
.footer-nav__link:hover {
    color: #fff;
    text-decoration: underline;
}