@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Progress.Sitefinity.AspNetCore

@using Progress.Sitefinity.AspNetCore.ViewComponents
@using WebApp.ViewModels.StaticSection

@model StaticSectionViewModel

<section class="back-light-blue" >
    <div data-sfcontainer container-context="@this.Model.Context.ContainerContext("cnt", "cnt")"></div>
</section>