@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Progress.Sitefinity.AspNetCore

@using Progress.Sitefinity.AspNetCore.ViewComponents
@using WebApp.ViewModels.StaticSection

@model StaticSectionViewModel


<section class="process mb-245">
    <div class="wrapper container" data-sfcontainer container-context="@this.Model.Context.ContainerContext("Content", "Content")">
        @* <h2 class="title title--black title--ml">What the recrutment process looks like?</h2> *@
        @* <ul class="process__list">

            <li class="process__item">
                <div class="process__box">
                    <span class="process__num">1</span>

                    <div class="process__info">
                        <span class="process__subtitle">prescreen with candidates by hr</span>

                    </div>
                </div>
            </li>

            <li class="process__item">
                <div class="process__box">
                    <span class="process__num">2</span>

                    <div class="process__info">
                        <span class="process__subtitle">first interview with candidate, manager, hr</span>

                        <span class="process__text">(roll play for sales positions, case study for other positions)</span>

                    </div>
                </div>
            </li>

            <li class="process__item">
                <div class="process__box">
                    <span class="process__num">3</span>

                    <div class="process__info">
                        <span class="process__subtitle">second interview with ceo</span>

                    </div>
                </div>
            </li>

            <li class="process__item">
                <div class="process__box">
                    <span class="process__num">4</span>

                    <div class="process__info">
                        <span class="process__subtitle">sending offer</span>

                    </div>
                </div>
            </li>

            <li class="process__item">
                <div class="process__box">
                    <span class="process__num">5</span>

                    <div class="process__info">
                        <span class="process__subtitle">boarding candidate</span>

                    </div>
                </div>
            </li>

        </ul> *@
    </div>
</section>
