@using Progress.Sitefinity.AspNetCore.ViewComponents
@using WebApp.ViewModels.ExtendedSection
@model Progress.Sitefinity.AspNetCore.Widgets.Models.Section.SectionViewModel

<section style="border-radius: 20px; background-color: aqua" class="row">
    <div class="container" data-sfcontainer container-context="@this.Model.Context.ContainerContext("Column1", "Column 1")">
    </div>
</section>