@using Progress.Sitefinity.AspNetCore.FormWidgets.ViewModels.SubmitButton
@model SubmitButtonViewModel

<div class="umbraco-forms-navigation row-fluid">

    <div class="col-md-12">
        <input type="submit" class="btn primary" value="@Model.Label" name="__next" data-form-navigate="next" data-umb="submit-forms-form">
    </div>
</div>
